<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{./dashboardLayout.html}">

<head>
    <!-- <meta charset="UTF-8"> -->
    <title> Edit Order</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="page-wrapper" layout:fragment="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Edit Order
                    </h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        <ol class="breadcrumb ms-auto">
                            <li><a href="#" class="fw-normal">Dashboard</a></li>
                        </ol>
                        <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                            class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                            to Pro</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->

                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-9 col-xlg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" th:action="@{/admin/orders/save}" method="post" enctype="multipart/form-data" th:object="${order}">
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">OrderId</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0" placeholder="OrderId"
                                            th:field="*{orderId}" readonly>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Customer-Id</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0" placeholder="Customer-Id"
                                        th:field="*{customerId}" readonly>
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Customer-Name</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0" placeholder="Customer-Name"
                                        th:field="*{customerName}" readonly>
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Customer-Address</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0"
                                            placeholder="Customer-Address" th:field="*{address}" >

                                    </div>

                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">order-Date</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="date" class="form-control p-0 border-0" placeholder="order-Date"
                                            th:field="*{orderDate}" readonly>
                                    </div>

                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Amount</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="number" class="form-control p-0 border-0" placeholder="Amount"
                                            th:field="*{amount}" readonly>
                                    </div>

                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-sm-12">Select Status</label>

                                    <div class="col-sm-12 border-bottom">
                                        <select class="form-select shadow-none p-0 border-0 form-control-line"
                                            name="status" id="status" th:field="*{status}">
                                            <option value="0">Unpaid</option>
                                            <option value="1">Paid</option>
                                            <option value="2">Preparing</option>
                                            <option value="3">Delivery in progress</option>
                                            <option value="4">Has received</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <h3 class="box-title">Order Detail</h3>

                                    <div class="table-responsive">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0">Id</th>
                                                    <th class="border-top-0">Product-Name</th>
                                                    <th class="border-top-0">Quantity</th>
                                                    <th class="border-top-0">Unit Price</th>
                                                    <th class="border-top-0">Image</th>
                                                    <th class="border-top-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each=" item: ${orderDetails}">
                                                    <td th:text="${item.orderDetailId}"></td>
                                                    <td th:text="${item.productName}"></td>
                                                    <td th:text="${item.quantity}"></td>
                                                    <td th:text="${item.unitPrice}"></td>

                                                    <td><img width="50px" height="50px"
                                                            th:src="${'/admin/orders/images/' + item.image}"></td>
                                                    <td>
                                                        <a th:data-id="${item.orderDetailId}"
                                                            th:data-name="${item.productName}"
                                                            onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                                                            class="btn btn-danger">Delete</a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            function showConfirmModalDialog(id, name) {
                                $('#productName').text(name);
                                $('#yesOption').attr('href', '/admin/orders/deleteOrderDetail/' + id);
                                $('#confirmationId').modal('show');
                            }
                        </script>

                        <!-- Modal -->
                        <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog"
                            aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete "<span id="productName"></span>"
                                    </div>
                                    <div class="modal-footer">
                                        <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-primary">Save</button>
                            <a th:href="@{/admin/orders}" class="btn btn-success">List Order</a>
                            <a th:href="@{'/admin/orders/delete/' + ${order.orderId}}"
                                class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
            href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    </div>
</body>

</html>